<log4net>
  <appender name="TestAppender"
            type="log4net.Appender.MemoryAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%property{SpanId} %message %property{TraceId}%newline" />
    </layout>
  </appender>
  <root>
    <level value="WARN" />
    <appender-ref ref="TestAppender" />
  </root>
</log4net>